/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
  ========
  Custom Styles
  ========
*/

body {
  font: 400 14px/24px "Playfair Display", serif;
  color: rgba(0, 0, 0, .7);
}
.margins {
  max-width: 900px;
  margin: 40px auto 0 auto;
}

/*
  ========
  Typography
  ========
*/

h1 {
  font-size: 30px;
}

h2 {
  font: 400 12px "Ubuntu", serif; 
  text-transform: uppercase;
  color: rgba(76, 76, 76, .4);
  margin-bottom: 30px;
}

.primary-nav {
  font-size: 14px;
  text-transform: uppercase;
  color: #666666;
}

h3 {
  font-size: 22px;
  margin-bottom: 30px;
}

h4 {
  font-size: 18px;
}

.bold {
  font-weight: 900;
}

.share {
  font: 400 12px "Ubuntu", serif;
  text-transform: uppercase;
  color: rgba(76, 76, 76, .4);
  margin-top: 30px;
  text-align: right;
}

.marg {
  margin-left: 10px;
}

/*
  ========
  Header
  ========
*/

header {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: auto;
  grid-template-areas: "logo hd";
  margin-bottom: 30px;

}

h1 {
  grid-area: logo;
}

.primary-nav {
  grid-area: hd;
  justify-self: end;
}

.primary-nav > ul > li {
  display: inline-block;
  margin-left: 60px;
}

header > img {
  margin-top: 30px;
  grid-column: 1 / 3;
  display: block;
  max-width: 100%;
  height: auto;
}

.primary-nav > ul > li > a {
  text-decoration: none;
  color: inherit;
}

/*
  ========
  Main Article
  ========
*/
.content {
  margin-left: 80px;
  margin-top: 40px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 3fr 1fr; 
  grid-gap: 20px;
}

.main-article {
  grid-column: 1 / 2;
}

article > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

.caption {
  font-style: italic;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

/*
  ========
  Other Articles
  ========
*/

.other-articles-margin {
  background-color: rgba(0, 0, 0, .1);
  width: 100%;
  padding-top: 20px;
  padding-bottom: 80px;
}

.other-content {
  max-width: 900px;
  margin: 40px auto 0 auto;
}
.other-content-content {
  margin-left: 80px;
}
.other-content-links {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas: "link1 link2 link3";
  grid-gap: 30px;
}
.other-content-links > a {
  text-decoration: none;
  color: inherit;
}
.other-content-links > a > img {
  max-width: 100%;
  height: auto;
  margin-top: 0;
  margin-bottom: 10px;
}

.link1 {
  grid-area: "link1"
}
.link2 {
  grid-area: "link2"
}
.link3 {
  grid-area: "link3"
}

/*
  ========
  About Me
  ========
*/

.about-me > img {
  max-width: 100%;
  margin-bottom: 10px;
}
.about-me > p {
  font-size: 10px;
  line-height: 14px;
  margin-top: 10px;
  margin-bottom: 60px;
}
.grey {
  color: rgba(76, 76, 76, .4);
}
/*
  ========
  Comments
  ========
*/

.comments {
  max-width: 900px;
  margin: 0 auto 0 auto;
}
#comment-title {
  margin-top: 40px;
  margin-left: 80px;
}

/*
  ========
  Footer
  ========
*/

footer {
  background-color: rgba(0, 0, 0, .1);
  width: 100%;
  font-size: 12px;
  padding-top: 20px;
  padding-bottom: 20px;
}
.max-width {
  max-width: 900px;
  margin: 0 auto 0 auto;
}
.footer-nav {
  margin-left: 80px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "nav social"
}
.footer-nav > ul {
  grid-area: "nav"
}
.footer-nav > ul > li {
  display: inline-block;
  margin-right: 10px;
}
.footer-nav > p {
  grid-area: "social";
  justify-self: end;
}